body{
    background-color:rgb(169, 255, 226);
}

h1{
    color: rgb (122,30,122);
    background-color:bisque;
}

#show_sketch{
    float: right;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration:4s;
    margin-top:50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 1px 1px 100px rgb(232, 76, 102)};
    to {box-shadow: 1px 1px 100px rgb(22, 87, 160)};
}

p{
    padding-top:10px;
    font-size: 25px;
}